################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AfrosoftInterns/v17
/.vs/AfrosoftInterns/FileContentIndex
/.vs/AfrosoftInternsApp/v17
/AfrosoftInterns/obj/Debug/net6.0/project.razor.vs.json
